#plasmo-shadow-container {
  z-index: 10 !important;
  /* position: fixed !important; */
  height: 100%;
}

#plasmo-inline {
  height: 100%;
  display: flex;
  align-items: center;
}

#plasmo-inline:hover path {
  fill: rgb(29, 155, 240);
}

.x {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.card-button {
  cursor: pointer;
}

/* .card-button path:hover {
  fill: rgb(29, 155, 240);
} */
