#plasmo-shadow-container {
  z-index: 10 !important;
  /* position: fixed !important; */
  height: 100%;
}

#plasmo-inline {
  height: 100%;
  display: flex;
  align-items: center;
}

.x {
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0);
  border: 0 solid black;
  box-sizing: border-box;
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  flex-shrink: 0;
  list-style: none;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  padding: 0px;
  position: relative;
  text-decoration: none;
  z-index: 0;
}

.card-button {
  cursor: pointer;
}

#plasmo-inline .card-button:hover path {
  fill: rgb(29, 155, 240);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.animate-spin {
  animation: spin 1s linear infinite;
}

.card-copy-button {
  cursor: pointer;
}

.x-cards-button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
}

#plasmo-inline .card-copy-button svg {
  width: 18px;
  height: 18px;
  color: #768294;
  vertical-align: bottom;
}
#plasmo-inline .card-copy-button:hover path {
  fill: rgb(29, 155, 240);
}

.preset-selector {
  display: flex;
}
.preset-label {
  position: relative;
  overflow: hidden;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  border-radius: 5px;
  margin-right: 5px;
}
.preset-label.selected {
  ring: 2px solid #3b82f6;
  ring-offset: 2px;
}

.preset-input {
  position: absolute;
  width: 100%;
  height: 100%;
  appearance: none;
  opacity: 0;
  inset: 0;
  cursor: pointer;
}
@media (prefers-color-scheme: dark) {
  .preset-label.selected {
    ring: 2px solid #3b82f6;
    ring-offset: 2px;
    ring-offset-color: #374151;
  }
}
.preset-label:active {
  transform: scale(0.95);
}
.preset-label {
  transition: transform 0.1s ease;
}

